@tailwind base;
@tailwind components;
@tailwind utilities;



.pic_div {
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: #FFFF00; */
    height: 110vh;
   
}


.wrapper{
    
    display: block;
    text-align: center;
    padding: 75px;
    /* margin-top: 23px;  */
    overflow: hidden;
    width: 500px;
}

.components{
    
    overflow: hidden;
    
    color: #000;
    height: 50px;
    font-size: 2rem;
    
}
.components div {
    vertical-align: middle;
    font-size: 30px;
    font-weight: 300;
    height: 50px;
    transition: margin-top 0.7s ease-in-out ;
}

